[ASSISTANT]{{if .Message.ID}} {{.Message.ID}}{{end}}
{{- range .Message.Content }}
{{- if eq .Type "text" }}{{.Text}}
{{- else if eq .Type "tool_use" }}{{if $.ShowToolDetails }}  [TOOL] {{.Name}}{{if .Input}}: {{.Input}}{{end}}
{{end}}{{else if eq .Type "thinking" }}{{if $.Verbose }}  [THINKING] {{.Thinking}}
{{end}}{{else if eq .Type "tool_result" }}{{if $.ShowToolDetails }}  [TOOL_RESULT] {{.ToolUseID}}{{if .IsError}} [ERROR]{{end}}
{{end}}{{end}}{{end}}
